.home {
  color: white;
  min-height: 100vh;
  width: 100%;
  background-color: #141414; /* Arka plan rengi */
  padding: 20px;
}

.home__search {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.home__search input {
  padding: 10px;
  width: 50%;
  font-size: 16px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #333;
  color: white;
}

.home__category-select {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.home__category-select select {
  padding: 10px;
  width: 200px;
  font-size: 16px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #333;
  color: white;
}

.home__category {
  margin-bottom: 40px; /* Kategoriler arasındaki boşluk */
}

.home__category-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #e5e5e5; /* Kategori başlığı rengi */
}

.home__movies {
  display: flex; /* Filmleri yatayda yan yana dizmek için */
  gap: 15px; /* Filmler arasındaki boşluk */
  overflow-x: auto; /* Yatay kaydırma */
  padding: 10px 0;
  scroll-behavior: smooth;
}

.home__movies::-webkit-scrollbar {
  height: 8px;
  background: #333; /* Kaydırma çubuğu arka plan rengi */
}

.home__movies::-webkit-scrollbar-thumb {
  background: #888; /* Kaydırma çubuğu başparmak rengi */
  border-radius: 5px;
}
